---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: external-service-kasm
  labels:
    kubernetes.io/service-name: external-service-kasm # Must be present for EndpointSlice and equal to Service name for automatic mapping - with having it in place, you can change the name of EndpointSlice to something else. The official convention is using Service name as the prefix.
addressType: IPv4
ports:
  - port: 443
    name: http
    protocol: TCP
endpoints:
  - addresses:
    - "REDACTED_IP"
    conditions:
      ready: true
---
apiVersion: v1
kind: Service
metadata:
  name: external-service-kasm
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: https
      name: http
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: external-service-kasm
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: kasm.example.com
      http:
        paths:
        - backend:
            service:
              name: external-service-kasm
              port:
                number: 443
          path: /
          pathType: ImplementationSpecific
