apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: freshrss
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 12h
  values: 
    controllers:
      freshrss:
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/freshrss
              tag: 1.28.1
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              limits:
                memory: 2000Mi
              requests:
                cpu: 10m
                memory: 250Mi
    service:
      app:
        controller: freshrss
        ports:
          http:
            port: 80
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 1000
        runAsUser: 1000