apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: karakeep
spec:
  chart:
    spec:
      version: "0.27.0"
  values:
    controllers:
      karakeep:
        containers:
          karakeep:
            env:
              DISABLE_PASSWORD_AUTH: "true"
              OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "true"
              OAUTH_PROVIDER_NAME: OIDC
              OAUTH_SCOPE: openid email profile
              OAUTH_WELLKNOWN_URL: https://auth.example.com/.well-known/openid-configuration
              OAUTH_CLIENT_ID: karakeep
              NEXTAUTH_URL: https://karakeep.example.com
              CRAWLER_FULL_PAGE_ARCHIVE: "true"
              CRAWLER_FULL_PAGE_SCREENSHOT: "true"
              CRAWLER_NUM_WORKERS: "2"
              CRAWLER_SCREENSHOT_TIMEOUT_SEC: "15"
              ASSET_STORE_S3_ENDPOINT: https://s3.example.com
              ASSET_STORE_S3_REGION: us-east-1
              ASSET_STORE_S3_BUCKET: rke-karakeep-store
            envFrom:
              - secretRef:
                  name: oidc-secret
              - secretRef:
                  name: generic-secrets
        statefulset:
          volumeClaimTemplates:
            - name: data
              accessMode: ReadWriteOnce
              size: 20Gi
              globalMounts:
                - path: /data
    applicationHost: karakeep.example.com
    ingress:
      karakeep:
        annotations:
          kubernetes.io/ingress.class: "nginx"
          nginx.ingress.kubernetes.io/proxy-body-size: "100m"
    meilisearch:
      persistence:
        enabled: true
        accessMode: ReadWriteOnce
        storageClass: longhorn
      environment:
        MEILI_ENV: production
        MEILI_NO_ANALYTICS: true
      envFrom:
        - secretRef:
            name: generic-secrets
            items:
              - key: MEILI_MASTER_KEY