apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  chart:
    spec:
      version: "39.0.0"
  values:
    deployment:
      replicas: 2
    ingressClass:
      isDefaultClass: false
    service:
      type: ClusterIP
    additionalArguments:
      - "--providers.kubernetesIngressNGINX"