apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonfly-operator
spec:
  chart:
    spec:
      chart: dragonfly-operator
      version: "v1.4.0"
      sourceRef:
        kind: HelmRepository
        name: dragonfly-operator
        namespace: flux-system
  values:
    serviceMonitor:
      enabled: true
    grafanaDashboard:
      enabled: true