apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn
spec:
  chart:
    spec:
      chart: longhorn
      version: "1.11.0"
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  values: 
    defaultBackupStore: 
      backupTarget: s3://rke-longhorn-backup@us-east-1/
      backupTargetCredentialSecret: s3-secret
    ingress:
      enabled: true
      host: longhorn.example.com
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/auth-method: 'GET'
        nginx.ingress.kubernetes.io/auth-signin: "https://auth.example.com?rm=$request_method"
        nginx.ingress.kubernetes.io/auth-url: "http://authelia.authelia.svc.cluster.local/api/authz/auth-request"
    metrics:
      serviceMonitor:
        enabled: true