apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 12h
  values: 
    controllers:
      mealie:
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.11.0
            env:
              ALLOW_SIGNUP: "false"
              PUID: 1000
              PGID: 1000
              TZ: Australia/Sydney
              # Database Settings
              DB_ENGINE: postgres
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              limits:
                memory: 2000Mi
              requests:
                cpu: 10m
                memory: 250Mi
    service:
      app:
        controller: mealie
        ports:
          http:
            port: 9000
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 1000
        runAsUser: 1000
    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        size: 10Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /app/data
            readOnly: false