apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  chart:
    spec:
      chart: external-secrets
      version: "2.0.0"
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
