apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  timeout: 20m
  chart:
    spec:
      version: "0.9.3"
  values:
    env:
      REDIS_HOSTNAME: immich-dragonfly.immich.svc.cluster.local
      TZ: Australia/Sydney
      IMMICH_CONFIG_FILE: /templated-config/immich-config.yaml
      DB_HOSTNAME:
        valueFrom:
          secretKeyRef:
            name: immich-db-app
            key: host
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: immich-db-app
            key: user
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-db-app
            key: password
      DB_DATABASE_NAME:
        valueFrom:
          secretKeyRef:
            name: immich-db-app
            key: dbname
      
    image:
      tag: v2.5.2

    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: nfs-data-pvc
        config:
          enabled: true
          type: configMap
          name: immich-config
      configuration:
        oauth:
          autoLaunch: true
          autoRegister: true
          clientId: immich
          clientSecret: $OAUTH_CLIENT_SECRET
          enabled: true
          issuerUrl: https://auth.example.com/.well-known/openid-configuration
        passwordLogin:
          enabled: false
        machineLearning:
          duplicateDetection:
            enabled: true
            maxDistance: 0.03
        server:
          externalDomain: https://immich.example.com/share

    server:
      enabled: true
      strategy: Recreate
      initContainers:
        envsubst:
          image: bhgedigital/envsubst:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              envsubst < /config/immich-config.yaml > /templated-config/immich-config.yaml
          env:
            OAUTH_CLIENT_SECRET:
              valueFrom:
                secretKeyRef:
                  name: oidc-secret
                  key: OAUTH_CLIENT_SECRET
          volumeMounts:
            - name: config
              mountPath: /config
            - name: templated-config
              mountPath: /templated-config
      persistence:
        templated-config:
          enabled: true
          type: emptyDir
          name: "immich-templated-config"
      ingress:
        main:
          enabled: true
          annotations:
            kubernetes.io/ingress.class: "nginx"
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
          hosts:
            - host: immich.example.com
              paths:
                - path: /