apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  chart:
    spec:
      chart: ingress-nginx
      version: "4.14.3"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
  values:
    controller: 
      kind: DaemonSet
      service: 
        externalTrafficPolicy: "Local"
        annotations: 
          lbipam.cilium.io/ips: "REDACTED_IP"
      config: 
        use-proxy-protocol: "false"
        use-forwarded-headers: "true"
        enable-real-ip: "true"
      extraArgs: 
        enable-ssl-passthrough: false
        default-ssl-certificate: "traefik/example.com-tls"
      serviceMonitor:
        enabled: true
    tcp:
      "222": gitlab/gitlab-gitlab-shell:222
      "8554": ingress-nginx/external-service-frigate:8554
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
      prometheusRule:
        enabled: true
